{% extends "base.html"%}
{%block content%}
<form action="/books" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="Description" required autofocus>
    </div>
    <div>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" placeholder="Duration" required>
    </div>
    
    <div>
        <label for="author">User:</label>
        <select id="author" name="author_id">
            {%for author in authors%}
            <option value="{{author.id}}">{{author.name}}</option>
            <!-- value is what is the usefull things we want to return-->
            {%endfor%}

            <!-- TODO -->



        </select>
    </div>
    <button type="submit">Add Book</button>
</form>
{%endblock%}