/* #silly_name {
    display: flex;
    justify-content: space-between;
}

.delete-form {
    background-color: hotpink;
    display: contents;
    font-size: 65%;
}

.delete-form{
  display: inline;
}
/*
.buttons i {
  width: 80px;
} */
